%html
  %head
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    %link(rel="stylesheet" href = "main.css")
    %title International Airport
  .logo
    %h1 Welcome to CleanTweet
  %body
    %p
      You can log in with your Twitter account and delete all you tweets! yaaaaa
    %p 
    Log in with your
    %a(href='/login')
      twitter account now!
